ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    
}
li{
    margin-left: 20px;
    padding: 4px;
}
a{
    color: #BCB7BD;
    text-decoration: none;
}
a:active{
    color: #3fc532;
}
.active{
    color: #3fc532; 
}
.Link{
    display: flex;
    justify-content: center;
    margin-left: 500px;
    padding: 4px;
}
@media only screen and (max-width: 767px) {
    li{
        padding: 2px;
    }
    .Link{
        margin-left: 40px;
        padding: 1px;
        
    }
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px;
        
    }
    .notActive{
        display: none;
    }
}
@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 1) {
        .Link{
            margin-left: 100px;
        }
    }